DATABASE_URL=postgres://postgres:<Password>@172.17.0.1:5432/<BaseName>?
    POSTGRES_PASSWORD=<Password>
POSTGRES_DB=<BaseName>
# HS256
JWT_SECRET=<Secret>

NGINX_OPEN_HTTPS_PORT=443
NGINX_OPEN_HTTP_PORT=80

OPEN_SERVER_PORT=3000

REPLICA1_OPEN_SERVER_PORT_MAPPING=3000
REPLICA2_OPEN_SERVER_PORT_MAPPING=3001
REPLICA3_OPEN_SERVER_PORT_MAPPING=3002

DATABASE_OPEN_PORT_MAPPING=5432
ADMINER_OPEN_PORT_MAPPING=8080
