# performance matter configuration
worker_processes 12;

events {
    # per worker max amount of connections to handle at a time, use of memory increasing with that parameter
    worker_connections 1024;
}

# core matter configuration
# http context
http {
    # indicate which file is returned
    include mime.types;

    # destination of requests going to server
    upstream nodejs_cluster {
        least_conn;
        server 172.17.0.1:$REPLICA1_OPEN_SERVER_PORT_MAPPING;
        server 172.17.0.1:$REPLICA2_OPEN_SERVER_PORT_MAPPING;
        server 172.17.0.1:$REPLICA3_OPEN_SERVER_PORT_MAPPING;
    }

    server {
        server_name 172.17.0.1;
        listen $NGINX_OPEN_HTTPS_PORT ssl;
        ssl_certificate /etc/nginx/nginx_certificates/nginx-selfsigned.crt;
        ssl_certificate_key /etc/nginx/nginx_certificates/nginx-selfsigned.key;
        location / {
            proxy_pass http://nodejs_cluster;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
    
    server {
        server_name 172.17.0.1;
        listen $NGINX_OPEN_HTTP_PORT;
        location / {
            return 301 https://$host$request_uri; 
        }
    }
}
